.about_container {
  height: 100%;
  width: 100%;
  /* background-color: #a9adb8; */
  background-color: #0a101e;
}

.about_title {
  height: 80px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 40px;
  color: #fec544;
}

.about_image_and_detail {
  display: flex;
  flex-direction: row;
  gap: 50px;
  /* margin: 0px 70px 0px 100px; */
  margin: 0px 400px 0px 400px;
}

.about_image img {
  height: 500px;
  width: 470px;
}
.about_image,
.about_details {
  margin-bottom: 50px;
}

.about_details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}
.about_details h2{
    color: #f3f4f5;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
.about_details h4{
    color: #fec544;
    font-size: 30px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}
.about_details p{
    font-size: 19px;
    color:#f3f4f5;
    font-weight: 100;
    /* font-family: 'Inter', sans-serif;  */
}


.about_button Button{
    background-color: #fec544;
    height: 40px;
    width: 146px;
    border-radius: 20px;
    color: black;
    font-weight: 600;
}

.about_button Button:hover{
    box-shadow: 0 3px 5px #d2b061;
}







/*********************************** ABOUT RESPONSIVE ***********************************/

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 640px) {
  .about_container {
    width: 100%;
}

.about_image_and_detail{
  margin: 0px 43px 0px 70px;    
  display: flex;
  flex-direction: column;
  gap:3px;
}

.about_image {
  margin-bottom: 3px;
}

} */







/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
}






/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .about_image_and_detail {
    flex-direction: column;
    display: flex;
    gap: 1px;
    margin: 0px 70px 0px 119px;
}

} */



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}