.skill_container {
  
  width: 100%;
  background-color: #070d1b;
  padding-top: 60px;
}

.sikll_container div {
  padding-top: 200px;
}

.skill_title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
.skill_mainConatinet h3 {
  color: #111624;
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 2px;
  opacity: 0.4;
}

.skill_subtitleContaintent {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  top: 17px;
}

.skill_subtitleContaintent p {
  font-size: 24px;
  color: #fec544;
  text-transform: uppercase;
}

.skill_container_parentdiv {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 170px;
  background-color: #3f4551;
}

.skill_container_parentdiv div {
  width: 70px;
  height: 2px;
  background-color: #fec544;
}





.Skill_ContentAndPercentage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  padding: 0px 300px 80px 300px;
}

.skillContentheading {
  font-size: 20px;
  color: aliceblue;
}

.skill_contentParagraph {
  font-size: 20px;
  padding-top: 20px;
  color: aliceblue;
}

.skill_contentParagraph p {
  padding-top: 25px;
  line-height: 25px;
}

.skill_contentpercenatge {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.skill_photoshop span,
.Motion_Graphic span,
.Adobe_XD span,
.HTML span,
.Digital_Marketing span,
.UX_Design span 
{
    font-size: 20px;
    font-weight: bold;
    color:#FDFEFF;
}

.percentage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.percentage span:last-child {
  color: #F6BF40;
  font-weight: 300;
}



.skill_photoshop div,
.Motion_Graphic div,
.Adobe_XD div,
.HTML div,
.Digital_Marketing div,
.UX_Design div
 {
    width: 100%;
    height: 2px;
    background: linear-gradient( to right , #F6BF40 95%, #3F4551 5%);
}

.Motion_Graphic div{
    background: linear-gradient( to right , #F6BF40 75%, #3F4551 25%);
}

.Adobe_XD div{
    background: linear-gradient( to right , #F6BF40 90%, #3F4551 10%);
}

.UX_Design div{
    background: linear-gradient( to right , #F6BF40 85%, #3F4551 15%);
}

.HTML div{
    background: linear-gradient( to right , #F6BF40 80%, #3F4551 25%);
}

.Digital_Marketing div{
    background: linear-gradient( to right , #F6BF40 90%, #3F4551 10%);
}



